<center>
    <span style="color:red;font-weight:bold;font-size:40pt">
        WORK IN PROGRESS
    </span>
</center>

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Exploratory Data Analysis

# Separação treino-teste

### Leitura dos dados

In [2]:
from dotenv import dotenv_values

config = dotenv_values()
DATA_DIR = config['DATA_DIR']

In [3]:
from car_prices.dataset import load_car_dataset

In [4]:
dataset = load_car_dataset(DATA_DIR)

Vamos ver se a leitura de dados funcionou:

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         10000 non-null  object
 1   Model         10000 non-null  object
 2   Year          10000 non-null  int64
 3   Engine_Size   10000 non-null  float64
 4   Fuel_Type     10000 non-null  object
 5   Transmission  10000 non-null  object
 6   Mileage       10000 non-null  int64
 7   Doors         10000 non-null  int64
 8   Owner_Count   10000 non-null  int64
 9   Price         10000 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 781.4+ KB

In [6]:
dataset.head(5)

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867

### Separação treino-teste

In [7]:
metadata = {
    'test_size': 0.2,
    'random_state': 42,
}

In [8]:
import json
from pathlib import Path
from typing import Any

import pandas as pd
from sklearn.model_selection import train_test_split

PROJECT_NAME = 'car_price'

BASENAME = PROJECT_NAME + '_dataset'

SPLIT_FOLDER = 'processed'
TRAIN_FILENAME = BASENAME + '_train.csv'
TEST_FILENAME = BASENAME + '_test.csv'
METADATA_FILENAME = BASENAME + '_metadata.csv'


def split_train_test_and_save(
    dataset: pd.DataFrame,
    metadata: dict[str, Any],
    data_dir: str | Path,
) -> None:

    train_dataset, test_dataset = train_test_split(
        dataset,
        test_size=metadata['test_size'],
        random_state=metadata['random_state'],
    )

    data_dir = Path(data_dir)

    split_dataset_dir = data_dir / PROJECT_NAME / SPLIT_FOLDER
    train_dataset_path = split_dataset_dir / TRAIN_FILENAME
    test_dataset_path = split_dataset_dir / TEST_FILENAME
    metadata_path = split_dataset_dir / METADATA_FILENAME

    split_dataset_dir.mkdir(parents=True, exist_ok=True)

    train_dataset.to_csv(train_dataset_path, index=False)
    test_dataset.to_csv(test_dataset_path, index=False)

    with open(metadata_path, 'w', encoding='utf8') as metadata_file:
        json.dump(metadata, metadata_file, indent=4)


split_train_test_and_save(dataset, metadata, DATA_DIR)

***

***Atividade***

Verifique que o código acima funcionou, e que os arquivos de treino, teste e metadata foram gravados.

***

***Atividade***

Escreva uma função

> ```Python
> _SplitReturns = tuple[pd.DataFrame, pd.DataFrame, dict[str, Any]]
> 
> 
> def load_car_dataset_split(data_dir: str | Path) -> _SplitReturns:
>     ...
> ```

que lê e retorna os conjuntos de treino, teste, e os metadados.

In [9]:
_SplitReturns = tuple[pd.DataFrame, pd.DataFrame, dict[str, Any]]


def load_car_dataset_split(data_dir: str | Path) -> _SplitReturns:
    data_dir = Path(data_dir)

    split_dataset_dir = data_dir / PROJECT_NAME / SPLIT_FOLDER

    train_dataset_path = split_dataset_dir / TRAIN_FILENAME
    test_dataset_path = split_dataset_dir / TEST_FILENAME
    metadata_path = split_dataset_dir / METADATA_FILENAME

    train_dataset = pd.read_csv(train_dataset_path)
    test_dataset = pd.read_csv(test_dataset_path)
    
    with open(metadata_path, 'r', encoding='utf8') as metadata_file:
        metadata = json.load(metadata_file)

    return train_dataset, test_dataset, metadata

In [10]:
train_dataset, test_dataset, metadata = load_car_dataset_split(DATA_DIR)

In [11]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         8000 non-null   object
 1   Model         8000 non-null   object
 2   Year          8000 non-null   int64
 3   Engine_Size   8000 non-null   float64
 4   Fuel_Type     8000 non-null   object
 5   Transmission  8000 non-null   object
 6   Mileage       8000 non-null   int64
 7   Doors         8000 non-null   int64
 8   Owner_Count   8000 non-null   int64
 9   Price         8000 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 625.1+ KB

In [12]:
test_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         2000 non-null   object
 1   Model         2000 non-null   object
 2   Year          2000 non-null   int64
 3   Engine_Size   2000 non-null   float64
 4   Fuel_Type     2000 non-null   object
 5   Transmission  2000 non-null   object
 6   Mileage       2000 non-null   int64
 7   Doors         2000 non-null   int64
 8   Owner_Count   2000 non-null   int64
 9   Price         2000 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 156.4+ KB

In [13]:
metadata

{'test_size': 0.2, 'random_state': 42}

***

***Atividade***

Incorpore estes códigos ao projeto, no módulo `dataset.py`